<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.hospital.mapper.UserMapper">

    <resultMap type="User" id="UserMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phonenumber" jdbcType="VARCHAR"/>
        <result property="realName" column="realname" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="enabledLogin" column="enabledLogin" jdbcType="VARCHAR"/>
        <result property="registerTime" column="registertime" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createdAt" column="createdAt" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="modifiedAt" column="modifiedAt" jdbcType="TIMESTAMP"/>
        <association property="avatar" column="avatar" javaType="File" select="com.qin.hospital.mapper.FileMapper.selectById"/>
        <association property="profession" column="profession" javaType="Profession" select="com.qin.hospital.mapper.ProfessionMapper.selectById"/>

    </resultMap>

    <select id="getUserList" parameterType="User" resultMap="UserMap">
        SELECT
        id, userName, realname, age, sex, phonenumber, email, avatar, registertime, enabledLogin
        FROM user
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                AND username like concat('%',#{userName},'%')
            </if>
            <if test="sex != null and sex != ''">
                AND sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                AND age = #{age}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="enabledLogin != null and enabledLogin != ''">
                AND enabledLogin = #{enabledLogin}
            </if>
        </where>
    </select>

    <select id="login" parameterType="User" resultType="User">
        SELECT * FROM user
        <where>
            <if test="userName != '' and userName != null">
                username = #{userName}
            </if>
            <if test="phoneNumber != '' and phoneNumber != null">
                OR phonenumber = #{phoneNumber}
            </if>
        </where>
    </select>

    <insert id="register" parameterType="User" keyProperty="id">
        INSERT INTO user (id, userName, realName, password, age, sex, phonenumber, email, avatar, registertime, enabledLogin, creator, createdAt, modifier, modifiedAt)
        VALUES
            (#{id}, #{userName}, #{realName}, #{password}, #{age}, #{sex}, #{phoneNumber}, #{email}, #{avatar.id}, #{registerTime}, #{enabledLogin}, #{creator}, #{createdAt}, #{modifier}, #{modifiedAt})
    </insert>

    <select id="getUserListByDepartmentId" parameterType="Long" resultMap="UserMap">
        SELECT t1.id,
               t1.realname,
               t1.age,
               t1.sex,
               t1.phonenumber,
               t1.diploma,
               t1.profession,
               t1.address,
               t1.avatar,
               t1.enabledLogin,
               t1.email,
               t1.registertime
        FROM `user` t1
                 LEFT JOIN department_user t2 ON t1.id = t2.u_id
        WHERE t2.d_id = #{id}
    </select>
</mapper>